main{
    background-color: var(--background-color);
    font-family: var(--default-font);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-nft{
    background-color: var(--background-color-card);
    width: 310px;
    border-radius: 10px;
    padding: 20px;
}

.card-nft .img-cubo-nft .image-link{
    position: relative;
    display: flex;
}

.card-nft .img-cubo-nft img{
    width: 100%;
    border-radius: 10px;
}

.card-nft .img-cubo-nft .image-link::before{
    content: " ";
    background-color: var(--background-hover-image);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.card-nft .img-cubo-nft .image-link::after{
    content: " ";
    background: url("../imagens/icon-view.svg") no-repeat center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.card-nft .img-cubo-nft .image-link:hover::before{
    opacity: 0.4;
} 

.card-nft .img-cubo-nft .image-link:hover::after{
    opacity: 1;
}

.card-nft .titulo{
    color: #ffffff;
    font-size: 20px;
    margin-top: 15px;
}

.card-nft .titulo:hover{
    color: var(--color-text-hover);
}

.card-nft .equilibrium{
    margin-top: 15px;
    color: var(--color-text);
}

.card-nft .dados{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.card-nft .dados .valor{
    color: var(--color-text-hover);
    display: flex;
    gap: 6px;
}

.card-nft .dados .valor::before{
    content: " ";
    background-image: url("../imagens/icon-ethereum.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 10px;
    height: 20px;
}

.card-nft .dados .dias{
    color: var(--color-text);
    display: flex;
    gap: 6px;
}

.card-nft .dados .dias::before{
    content: " ";
    background: url("../imagens/icon-clock.svg") no-repeat center;
    display: inline-block;
    width: 15px;
}

.card-nft .avatar{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-top: 1px solid #2f415b;
    padding-top: 20px;
}

.card-nft .avatar img{
    width: 10%;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.card-nft .avatar p{
    color: var(--color-text);
}

.card-nft .avatar .name{
    color: #ffffff;
    font-size: 17px;
}

.card-nft .avatar .name:hover{
    color: var(--color-text-hover);
}
